html, body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3 {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

.excursion {
  text-align: right;
  color: gray;
  font-size: 21px;
}
